@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 200 900;
	font-stretch: 50% 200%;
	src: url('../fonts/Inconsolata-VariableFont_wght.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Inconsolata-400.woff') format('woff');
}

@media all
{
    * {
        box-sizing: border-box;
    }
    
    html {height: 100%}

    body {
	font-family: Inconsolata, "Liberation Sans", "Open Sans", Helvetica, sans-serif;
	margin: 0 auto;
	max-width: 60%;
	min-width: 320px;
	min-height: 70%;
	font-size: 1em;
    }
    
    h1 {
	font-weight: 800;
	font-size: calc(2em + 1vw);
	color: #2d2d86;
	margin: 2em 0;
	text-align: center;
	font-stretch: 90%;
    }

    h2 {
	font-size: 1.7em;
	color: #2d2d86;
	margin: 1.5em 0 0 0;
    }
    
    a {text-decoration: none; font-weight: 400;}
    a:visited {text-decoration: none; font-weight: 400;}
    a:hover {text-decoration: underline;}
 
    code {
	font-size: .9em;
	border: 1px solid #DEDEDE;
	padding: 0px 0.2em;
	font-family: Inconsolata, "Liberation Mono", monospace;
    }

    img.logo {
	display: block;
	margin: 3em auto 1em;
	border: none;
    }
    .logo:hover {
	background-color: #eee;
	border-radius: 50px
    }
    
    /* D3 related */

    .d3map {
	font-family: "Liberation Mono", monospace;
    }
    .d3mapcaption {
	color: #2d2d86;
	text-align: center;
	font-weight: 800;
	line-height: 1em;
	margin: 2.5em 0 1em 0;
	font-size: calc(.8em + .5vw);
	font-family: Inconsolata, "Liberation Mono", monospace;;
	font-stretch: 90%;
    }

    .d3button {
	border: none;
	font: 600 .9em Inconsolata;
    }
    .graticule {
	fill: none;
	stroke: #eee;
	stroke-width: 1px;
	stroke-opacity: .9;
	vector-effect: non-scaling-stroke;
    }  
  .countries {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.5px;
    cursor: pointer;  
  }
  .countries path { vector-effect: non-scaling-stroke;}

  .legendTitle {
      fill: #000;
      text-anchor: start;
      font-weight: bold;
      font-size: .9em;
      font-family: Inconsolata;
  }
  .legendText {
      fill: #000;
      text-align: left;
      font-family: Inconsolata;
      font-size: .8em;
      font-weight: 500;
      font-stretch: 90%;
      
  }
  .legendRect {
      stroke-width: 0;
  }
  
  .slidecontainer {
      text-align: center;
      line-height: 1em;
      font-family: Inconsolata, "Liberation Mono", monospace;
      font-size: .9em;
      font-weight: 600;
  }
  .slider {
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
  }
  .slider:hover {
      opacity: 1;
  }
  .slider::-webkit-slider-thumb {
      cursor: pointer;
  }

  .slider::-moz-range-thumb {
      cursor: pointer;
  }

  div.tooltip {
      position: absolute;
      text-align: left;
      line-height: 1.2em;
      width: 133px;
      height: 62px;
      padding: 3px;
      font: 10px Roboto;
      background: white;
      border: 0px;
      border-radius: 4px;
      box-shadow: 2px 2px 2px #ccc;
      pointer-events: none;
  }
  
} /* END OF @media all */

@media screen and (max-width: 1000px)
{
    body {
	max-width: 90%;
	margin: 0 auto;
    }
} /* END OF @media screen */

@media screen and (max-width: 580px)
{
    
    body {
	max-width: 100%;
	margin: 0 5px;
    }

    h1 {font-size: 4vw;}
    
    .d3mapcaption {font-size: .7em;}
    code {font-size: .7em;}
    table {font-size: 80%;}
    
} /* END OF @media screen */
